<% feed.stories.each do |story| %>
  <div class="feed-panel">
    <% if feed.tagged?(story) %>
      <div class="feed-metadata">
        <%= icon('tag') %> <%= link_to feed.tag_for(story).name, feed.tag_for(story) %>
      </div>
    <% elsif feed.recommended?(story) %>
    <div class="feed-metadata">
      Recommended by <%= link_to feed.recommender_for(story).username, feed.recommender_for(story) %>
      <% if (story.likes_count > 2) %>
        and <%= pluralize(story.likes.count - 1, 'other') %>
      <% end %>
    </div>
    <% elsif feed.featured?(story) %>
      <div class="feed-metadata">
        Featured by Articles Staff and recommended by <%= pluralize(story.likes_count, 'other') %>
      </div>
    <% end %>
    <%= render partial: 'stories/story', locals: { story: story } %>
  </div>
<% end %>
