<div class="post-metadata-bar" data-page="post-metadata-bar">
  <div class="flex-container" data-behavior="animated-metadata">
    <div class="storie-stats flex-container">
      <%= render partial: 'stories/likes', locals: { post: storie } %>

      <div>
        <%= link_to storie_path(storie, anchor: 'responses'), class: "response-icon-wrapper" do %>
          <i class="fa fa-comment-o"></i>
          <span class="response-count" data-behavior="response-count"><%= storie.responses.size %></span>
        <% end %>
      </div>

      <div class="bookmark-button">
        <%= render partial: 'stories/bookmarks', locals: { post: storie } %>
      </div>
    </div>
    <div class="metabar-author-info flex-container flex-space-btw">
      <div>
        <%= avatar_for storie.user, size: 35 %>
        <%= react_component("PopoverLink", { user_id: storie.user.id, url: user_path(storie.user), children: storie.username }) %>
      </div>
      <%= follow_button_for storie.user %>
    </div>
  </div>
</div>
