<div class="story-panel">
  <%= render partial: 'stories/story_metadata', locals: { story: story } %>

  <% if story.picture? %>
    <div class="storie-picture-wrapper">
      <%= image_tag story.picture.url(:thumb) %>
    </div>
  <% end %>

  <div class="main-body">
    <h3 class="story-title"><%= link_to story.title, story %></h3>
    <% if story.lead %>
      <div class="story-body"><%= truncate(remove_javascript(story.lead), length: 140, separator: ' ', escape: false) %></div>
      <%= link_to "Read more", story, class: 'read-more' %>
    <% end %>
  </div>

  <div class="story-stats clearfix">
    <div class="pull-left">
      <%= render partial: 'stories/likes', locals: { story: story } %>
    </div>

    <div class="pull-right">
      <%= render partial: 'stories/bookmarks', locals: { story: story } %>
    </div>

    <div class="response-count pull-right">
      <% if story.responses_count > 0 %>
        <%= link_to (pluralize(story.responses_count, "response")), story_path(story, anchor: 'responses'), class: 'response-count' %>
      <% end %>
    </div>
  </div>
</div>