<div class="storie-panel">
  <%= render partial: 'stories/storie_metadata', locals: { storie: storie } %>

  <% if storie.picture? %>
    <div class="storie-picture-wrapper">
      <%= image_tag storie.picture.url(:thumb) %>
    </div>
  <% end %>

  <div class="main-body">
    <h3 class="storie-title"><%= link_to storie.title, storie %></h3>
    <% if storie.lead %>
      <div class="storie-body"><%= truncate(remove_javascript(storie.lead), length: 140, separator: ' ', escape: false) %></div>
      <%= link_to "Read more", storie, class: 'read-more' %>
    <% end %>
  </div>

  <div class="storie-stats clearfix">
    <div class="pull-left">
      <%= render partial: 'stories/likes', locals: { storie: storie } %>
    </div>

    <div class="pull-right">
      <%= render partial: 'stories/bookmarks', locals: { storie: storie } %>
    </div>

    <div class="response-count pull-right">
      <% if storie.responses_count > 0 %>
        <%= link_to (pluralize(storie.responses_count, "response")), storie_path(storie, anchor: 'responses'), class: 'response-count' %>
      <% end %>
    </div>
  </div>
</div>