<% stories.each_with_index do |story, index| %>
  <div class="story-panel">
    <div class="top-article-rank">
      <div class="count-button-wrapper">
        <span class="count-button"><%= index + 1 %></span>
      </div>
    </div>
    <%= render partial: 'stories/story_metadata', locals: { story: story } %>

    <% if story.picture? %>
      <div class="story-picture-wrapper">
        <%= image_tag story.picture.url(:thumb) %>
      </div>
    <% end %>

    <div class="main-body">
      <h3 class="story-title"><%= link_to story.title, story %></h3>
      <% if story.lead %>
        <div class="story-body"><%= truncate(story.lead, length: 190, separator: ' ', escape: false) %></div>
        <%= link_to "Read more", story_path, class: 'read-more' %>
      <% end %>
    </div>

    <div class="story-stats clearfix">
      <div id="story_<%= story.id %>_likes" class="pull-left">
        <%= render partial: 'stories/likes', locals: { story: story } %>
      </div>

      <div id="story_<%= story.id %>_bookmarks" class="pull-right">
        <%= render partial: 'stories/bookmarks', locals: { story: story } %>
      </div>

      <div class="response-count pull-right">
        <% if story.responses_count > 0 %>
          <%= link_to (pluralize(story.responses_count, "response")), story_path(story, anchor: 'responses'), class: 'response-count' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>