<div class="row" data-animation="fadeInUp-fadeOutDown">
  <div id="main-story" class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1 main-content">
    <% if admin_signed_in? %>
      <%= feature_story_button_for(@story) %>
    <% end %>

    <div class="pull-right">
      <%= render partial: 'stories/social_share', locals: { story: @story } %>
    </div>
    <%= render 'story_metadata', story: @story %>

    <% if @article.picture? %>
      <div class="story-picture-wrapper">
        <%= image_tag @story.picture.url(:thumb) %>
      </div>
    <% end %>

    <h3 class="title"><%= @story.title %></h3>
    <div class="body">
      <p><%= remove_javascript(@story.body).html_safe %></p>
    </div>

    <div class="story-tags">
      <% @story.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <div class="story-stats clearfix">
      <div class="pull-left">
        <%= render partial: 'stories/likes', locals: { story: @story } %>
      </div>
      <div class="pull-left">
        <%= link_to story_path(@story, anchor: 'responses'), class: "response-icon-wrapper" do %>
          <i class="fa fa-comment-o"></i>
          <span class="response-count" data-behavior="response-count"><%= @story.responses_count %></span>
        <% end %>
      </div>

      <div class="pull-right">
        <%= render partial: 'stories/bookmarks', locals: { story: @story } %>
      </div>
    </div>

    <div class="author-info">
      <div clas="author-metadata">
        <%= avatar_for @story.user, size: 50 %>
        <div class="username-description">
          <h4><%= @story.user.username %></h4>
          <p><%= @story.user.description %></p>
        </div>
      </div>
      <%= follow_button_for @story.user %>
    </div>

    <% if user_signed_in? && current_user?(@story.user) %>
      <div class="edit-delete-button-wrapper">
        <%= link_to "Edit", edit_story_path(@story), class: 'button' %>
        <%= link_to "Delete", story_path(@story), method: :delete, class: 'button' %>
      </div>
    <% end %>
  </div>
</div> 

<div class="story-show-footer row" data-animation="fadeInUp-fadeOutDown">
  <% if @related_.any? %>
    <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3 main-content related-stories">
      <h4 class="small-heading">Related stories</h4>
      <% @related_story.each do |story| %>
        <%= render partial: 'stories/story_list_item', locals: { story: @story } %>
      <% end %>
    </div>
  <% end %>

  <div id="responses" class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3 main-content">
    <h4 class="small-heading">Responses</h4>
    <% if user_signed_in? %>
      <%= render partial: 'stories/response_editor', locals: { story: @story } %>
    <% end %>
	<div data-behavior="responses-list">
      <% if @responses.any? %>
          <%= render @responses %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'stories/metadata_bar', locals: { story: @story } %>