<!DOCTYPE html>
<html ng-app="ThornPost">
<head>
  <title>ThornPost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= favicon_link_tag 'thornpost-icon-apple-touch-180x180.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Discover the news like never before, at Thornpost you recive the relevent news needed to make informed decisions that effect your way of living, easier. With the added pleasures of photos and videos around the world, your dopamine levels are always taken care of!"/>
  <meta name="keywords" content="news, photos, videos, social sharing, social, stories, information, funny, procrastination, education, connected, politics, business, government"/>
  <meta name="twitter:site_name" content="Thornpost"/>
  <meta name="twitter:site" content="@thornpost"/>
  <meta name="twitter:title" content="ThornPost"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="Enjoy the pleasures cool photos and videos around the world while recive headline news around the world"/>
  <meta name="twitter:image" content="assets\images\favicon.png"/>
  <meta name="twitter:image:width" content="100"/>
  <meta name="twitter:image:height" content="100"/>
  <meta name="image" content="assets\images\favicon.png"/>
  <meta property="og:title" content="ThornPost"/>
  <meta property="og:description" content="Enjoy the pleasures cool photos and videos around the world while recive headline news around the world"/>
  <meta property="og:image" content="assets\images\favicon.png"/>
  <meta property="og:url" content="www.thornpost.com"/>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <%= render 'layouts/overlay' unless user_signed_in? %>
  <%= react_component('UserOverlay', {}) %>

  <div data-behavior="progress-bar" class="progress-bar"></div>

  <% if admin_signed_in? %>
    <%= render 'layouts/admin_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= render 'layouts/alert_messages' %>

  <div class="container-fluid main-container">
    <%= yield %>
    <%= yield :sidebar %>
  </div>

</body>
<script type="text/javascript">
  window.userSignedIn = <%= user_signed_in? %>;
</script>
</html>